<section class="container">
  <button class="btn btn-primary m-3" (click)="fetchData()">fetch</button>
  <div class="row">
    <p class="fs-5" *ngIf="isloading">loading...</p>
    <p *ngIf="!personData.length && !isloading">list is empty</p>
    <ng-container *ngIf="personData.length">
      <p>Users: {{ personData | usersPipe }}</p>
      <div
        class="person-info col-12 col-sm-4 m-2 p-2"
        *ngFor="let item of personData"
        [appColors]="item.status"
      >
        <p>{{ item.firstname }} {{ item.lastname }}</p>
        <p>About@ {{ item.firstname }}</p>
        <p>{{ item.birthdate | customPipe }}</p>
        <button [btndirective]="item.status" class="text-white">
          {{ item.status }}
        </button>
      </div>
    </ng-container>
  </div>
</section>

<section class="box-container">
  <div class="box" boxdirective *ngFor="let box of arr; let i = index"></div>
</section>
